[submodule "themes/themes/anatole"]	
	path = themes/themes/anatole	
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/themes/zen"]
	path = themes/themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
